<title>CSS Template</title>
<%= stylesheet_link_tag "sessions" %>

<div class="w3-container w3-theme-d1 w3-margin">
        <h1>Welcome to Bruhdit</h1>
      </div>
<%= button_to "Login", '/login', method: :post%>
<%= button_to "Sign up", new_user_path, method: :get%>






